<!DOCTYPE html>
<html>
<head>
  <title>Admin Orders</title>
</head>
<body>

<h1>All Orders</h1>

<table border="1">
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Service</th>
  <th>Amount</th>
  <th>Status</th>
</tr>

<% orders.forEach(o=>{ %>
<tr>
  <td><%= o.orderId %></td>
  <td><%= o.name %></td>
  <td><%= o.service %></td>
  <td><%= o.price %></td>
  <td><%= o.status %></td>
</tr>
<% }) %>

</table>

</body>
</html>