<!DOCTYPE html>
<html>
<head>
  <title>Payment</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<%- include("partials/header") %>

<div class="container">
  <h1>Payment</h1>

  <div class="card">
    <p>Name: <%= order.name %></p>
    <p>Service: <%= order.service %></p>
    <p>Amount: ₹<%= order.amount %></p>
  </div>

  <a class="btn" href="/success/<%= order._id %>">
    Pay Now (Demo)
  </a>
</div>

</body>
</html>